.navbar {
  background-color:rgba(48, 60, 108, 1);
  display: flex;
  justify-content: start;
  align-items: center;
  position:fixed;
  top:0;
  
}

.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  margin-right: 1rem;
  background: none;
}

.nav-menu {
  background-color:rgb(217, 244, 248) ;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 70px;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 70px;
}

.nav-text a {
  text-decoration: none;
  color: rgba(48, 60, 108, 1);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 2px;
}

.nav-text a:hover {
  background-color:rgba(251, 232, 166, 0.6);
}

.nav-menu-items {
  color: rgba(48, 60, 108, 1);
  width: 100%;
}



/* .navbar-toggle {
  background-color: rgb(28, 33n, 33);
  width: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
} */

span {
  margin-left: 16px;
}
